nav {
    font-size: larger;
}
nav a {
    padding: 8px 12px;
    text-decoration: none;
}
nav a.active,
nav a:hover {
    border-bottom: 2px solid gold;
    border-bottom: 2px solid gold;
}

body {
    width: 960px;
    margin: 0 auto;
}

input {
    padding: 8px 12px;
}

button {
    padding: 8px 40px;
    margin-left: 104px;
}

label {
    width: 100px;
    display: inline-block;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
